img{width: 100%;}
.tor{font-size: 100px;  text-align: center;width: 0 auto;} 
h1{width: 743px; text-align: center;margin: 0 auto; }
.for{width: 393px; height: 230px;}
.box  {width: 393px; height: 396px; text-align: center; }
main{display: flex; flex-wrap: wrap; gap: 300px;}
